.contactsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20px;
    background-color: #004bf7;
}

.container {
    flex-direction: column;
    display: flex;
}

.form {
    gap: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #00b2ff;
    background-clip: padding-box;
    border: 1px solid #00b2ff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.input:focus {
    color: #212529;
    background-color: #00b2ff;
    border-color: #00b2ff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #00b2ff;
    border-radius: 4px;
    background-color: #00b2ff;
    font-size: 16px;
    resize: none;
}
