.portfolioBlock {
    min-height: 100vh;
    padding-bottom: 20px;
    background-color: #18191d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
}

.title {
    padding: 20px;
}

.projects {
    gap: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}