.skills {
    border-radius: 10px;
    opacity: 80%;
    text-align: center;
    width: 250px;
    background-color: #212228;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.icon {
    rotate: -45deg;
    width: 30px;
    height: 30px;
}

.square {
    margin-top: 20px;
    margin-bottom: 20px;
    rotate: 45deg;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(118, 118, 120, 0.16);
}

