.aboutBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url("https://oir.mobi/uploads/posts/2021-06/1623557684_14-oir_mobi-p-cherno-belaya-priroda-priroda-krasivo-foto-15.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.title {
    font-size: xx-large;
    padding: 20px;
}

.aboutContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.aboutSkills {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}