* {
    box-sizing: border-box;
}

.button {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 200px;
}

.mainBlock {
    padding: 10px;
    background-image: url("https://wallpaperaccess.com/full/1560888.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}


.span {
    font-weight: bold;
}


.container {
    min-height: 100vh;
    gap: 10px;
}

.text {
    padding-top: 50px;
    color: #d1cfc3;
    text-align: center;
}

.photo {
    width: 350px;
    height: 450px;

}

.kvadr {
    width: 350px;
    min-height: 450px;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    animation: tokyo-morph 8s ease-in-out infinite 1s;
}

@keyframes tokyo-morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media (max-width: 950px) {
    .button {
        display: none;
    }

}

@media (max-width: 420px) {
    .photo {
        width: 250px;
        height: 350px;
    }

    .button {
        display: none;
    }

    .kvadr {
        width: 250px;
        min-height: 350px;
    }
}

@media (max-width: 300px) {
    .photo {
        width: 250px;
        height: 350px;
    }

    .button {
        display: none;
    }

    .kvadr {
        width: 250px;
        min-height: 350px;
    }
}
