.projectBlock {
    text-align: center;
    width: 250px;
    background-color: #212228;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.button {
    margin-top: 20px;
    max-width: 200px;
}

.image {
    width: 250px;
    max-height: 166px;
}



