.nav {
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}

.link {
    font-weight: bold;
    font-size: 15px;
    color: #d1cfc3;
    text-decoration: none;
}

.link:hover {
    color: #828282;
    transition: 0.5s;
}