.footerBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15vh;
    padding-bottom: 20px;
    background-color: #212228;
}

.title {
    font-weight: lighter;
    font-size: small;
    margin: 10px;
    color: #d1cfc3;
}

.p {
    font-weight: lighter;
}


.link {
    font-weight: bold;
    padding: 20px;
    color: #d1cfc3;
    text-decoration: none;

}

.link:hover {
    color: #828282;
    transition: 0.5s;
}


.linksBlock {
    gap: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.codewars {
    width: 50px;
    height: 50px;
}


